body
{	
background-image:url(back.jpg);
background-size:cover;
}
nav
{
	height:70px;
	width:100%;
	background-color:#006;
	line-height:64px;
}
nav ul li{
	list-style-type:none;
	display:inline-block;
	transition:0.8s all;
}
nav ul li:hover
{
background-color:#f39d1a;
}	
nav ul li a
{
	text-decoration:none;
	margin:5px 60px;
	font-size:22px;
	font-family:verdana;
	color:white;
	font-style:italic;
}

h1
{
padding:0;
margin-left:500px;
margin-top:15px;
font-size:50px;
color:rgb(6,57,86);
font-family:times new roman;
}

.slide
{
	width:500px;
	height:350px;
	background:url(11.jpg);
	background-repeat:no-repeat;
	margin-left:100px;
	margin-top:60px;
	animation:slides 15s infinite;
	border:5px solid white;
	border-radius:5px;
}
@keyframes slides
{
	
	20%
	{
		background:url(15.jpg);
		background-repeat:no-repeat;
	}
	40%
	{
		background:url(12.jpg);
		background-repeat:no-repeat;
	}
	60%
	{
		
		
		background:url(13.jpg);
		background-repeat:no-repeat;
	}
	80%
	{
		background:url(14.jpg);
		background-repeat:no-repeat;
	}
	100%
	{
		background:url(16.jpg);
		background-repeat:no-repeat;
	}
    
	
}