.container
{
	position:relative;
	width:1200px;
	height:300px;
	margin:200px auto;
	top:-5%;
	left:50px;
	
}
.container .box
{
	position:relative;
	width:calc(400px - 30px);
	height:calc(300px - 30px);
	background:#000;
	float:left;
	margin:15px;
	box-sizing:border-box;
	overflow:hidden;
	border-radius:10px;
}
.container .box .icon
{
	position:absolute;
	height:100%;
	width:100%;
	top:0;
	left:0;
	background:rgb(176,35,52);
	transition:0.5s;
	z-index:1;
}
.container .box:hover .icon
{
	top:10%;
	height:80px;
	width:80px;
	left:calc(50% - 40px);
	border-radius:50%;

}
.container .box .icon .fa
{
	position:absolute;
	top:50%;
	left:50%;
	transform:translate(-50%,-50%);
	font-size:80px;
	transition:0.5s;
	color:#fff;
}
.container .box:hover .icon .fa
{
	font-size:40px;
}
.container .box .content
{
	position:absolute;
	top:90%;
	height:calc(100% - 100px);
	text-align:center;
	box-sizing:border-box;
	padding:20px;
	transition:0.5s;
	opacity:0;
}
.container .box:hover .content
{
	top:90px;
	opacity:1;
}
.container .box .content h3
{
	margin:0;
	padding:8;
	font-size:24px;
	color:#fff;
	font-weight:bold;
}
.container .box .content p
{
	margin:0;
	padding:0;
	color:#fff;
}
.container .box:nth-child(2) .icon
{
	background:#319635;
}
.container .box:nth-child(2)
{
	background:#4caf50;
}
.container .box:nth-child(1) .icon
{
	background:#d03852;
}
.container .box:nth-child(1)
{
	background:#f54967;
}
.container .box:nth-child(3) .icon
{
	background:#23798e;
}
.container .box:nth-child(3)
{
	background:#328fa5;
}
#foot
{
	height:5%;
	width:100%;
	background-color:#4caf50;
	margin-top:-10px;
}	
a
{
	text-decoration:none;
	padding-left:420px;
	line-height:30px;
	font-size:20px;
	color:white;
}